server:
  port: 8081

spring:
  datasource:
    generate-unique-name: false
    name: office
    url: jdbc:h2:mem:testdb
  jpa:
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2
  flyway:
    enabled: true
    locations:
    - classpath:db/migration
    baseline-on-migrate: true
    clean-disabled: true


logging:
  level:
    root: info
    crm.example.study: debug