<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Карточка оборудования</title>
</head>

<body>
    <div th:replace="~{fragments/layout :: header}"></div> 
    
    <div>
        <h2>Карточка оборудования</h2>
        <div th:object="${equipment}">
            <div>
                <h4>Серийный номер оборудования</h4>
                <span th:text="*{serialNumber}"></span>
            </div>
            <div>
                <h4>Идентификатор</h4>
                <span th:text="*{id}"></span>
            </div>
            <div>
                <h4>Тип Оборудования</h4>
                <span th:text="*{type}"></span>
            </div>
            <div>
                <h4>Наименование</h4>
                <span th:text="*{name}"></span>
            </div>
            <div>
                <h4>Бренд/производитель</h4>
                <span th:text="*{brand}"></span>
            </div>
            <div>
                <h4>Модель</h4>
                <span th:text="*{model}"></span>
            </div>            
            <div>
                <h4>Размер</h4>
                <span th:text="*{size}"></span>
            </div>
            <div>
                <h4>Местоположение</h4>
                <span th:text="*{location}"></span>
            </div>
            <div>
                <h4>Статус</h4>
                <span th:text="*{status}"></span>
            </div>
            <div>
                <h4>Создан </h4>
                <span th:text="*{createdAt}"></span>
            </div>
            <div>
                <h4>Отредактирован</h4>
                <span th:text="*{updatedAt}"></span>
            </div>
            <div>
                <h4>Последнее обслуживание</h4>
                <span th:text="*{servedAt}"></span>
            </div>
            <div>
                <h4>Цена</h4>
                <span th:text="*{price}"></span>
            </div>
            <div>
                <h4>Описание</h4>
                <span th:text="*{description}"></span>
            </div>
            <div>
                <form th:action="@{/equipments/update/{id}(id=*{id})}" method="get">
                    <button type="submit">Редактировать</button>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/layout :: footer}"></div> 
</body>
</html>