<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сборочный конструктор Рабочего места</title>
    <link th:href="@{/css/forms.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{fragments/layout :: header}"></div> 
    
    <div>
        <div>
            <form th:action="@{/workplaces}" method="get">
                <button type="submit">Вернуться</button>
            </form>
        </div>
        <h1>Собрать рабочее место</h1>
        <form th:action="@{/workplaces/designer}" th:object="${workplace}" method="post">
            <div>
                <p>Имя</p>
                <input type="text" th:field="*{name}">
                <span th:if="#{fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span>
            </div>
            <div>
                <p>Описание</p>
                <input type="text" th:field="*{description}">
                <span th:if="#{fields.hasErrors('description')}" th:errors="*{description}" class="error-message"></span>
            </div>
            <div>
                <h4>Доступное оборудование:</h4>
                <div th:each="equipment : ${equipments}">
                    <label th:text="${equipment.type.type}"></label>
                    <input th:value="${equipment.serialNumber}" th:text="${equipment.serialNumber}" type="checkbox" th:field="*{equipments}">
                </div>
                <span th:if="#{fields.hasErrors('equipments')}" th:errors="*{equipments}" class="error-message"></span>
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>

    <div th:replace="~{fragments/layout :: footer}"></div> 
</body>
</html>