<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create employee</title>
    <link th:href="@{/css/forms.css}" rel="stylesheet">
</head>

<body>
    <div th:replace="~{fragments/layout :: header}"></div>
    <div>
        <h1>Создать пользователя</h1>
        <form th:action="@{/employees}" th:object="${employee}" method="post">

            <div> 
                <p>Логин</p>
                <input type="text" th:field="*{username}"><br>
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span><br>
            </div>
            <div> 
                <p>Пароль</p>
                <input type="password" th:field="*{password}"><br>
                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error-message"></span><br>
            </div>
            <div> 
                <p>Имя</p>
                <input type="text" th:field="*{name}"><br>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span><br>
            </div>
            <div> 
                <p>Фамилия</p>
                <input type="text" th:field="*{surname}"><br>
                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error-message"></span><br>
            </div>
            <div> 
                <p>Уровень доступа:</p>
                <div th:each="rol : ${roles}">
                    <input type="radio" th:field="*{role}" th:value="${rol.role}">
                    <label th:text="${rol.role}"></label>
                </div>
                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error-message"></span><br>
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
</body>

</html>