<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update employee</title>
</head>

<body>
    <div th:replace="~{fragments/layout :: header}"></div>

    <div>
        <h1>Редактировать пользователя</h1>
        <form th:action="@{/employees/update}" th:object="${employee}" method="post">

            <div>
                <input type="hidden" th:field="*{id}">                
                <input type="hidden" th:field="*{password}" >                
            </div>
            <div>
                <p th:text="'Имя пользователя: ' + ${employee.username}"></p><br>
                <input type="hidden" th:field="*{username}">
                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="error-message"></span><br>
            </div>
            <div>
                <p>Имя</p>
                <input type="text" th:field="*{name}"><br>
                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error-message"></span><br>
            </div>
            <div>
                <p>Фамилия</p>
                <input type="text" th:field="*{surname}"><br>
                <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error-message"></span><br>
            </div>
            <div>
                <p>Уровень доступа:</p>
                <div th:each="rol : ${roles}">
                    <input type="radio" th:field="*{role}" th:value="${rol.role}">
                    <label th:text="${rol.role}"></label>
                </div>
                <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}" class="error-message"></span><br>
            </div>
            <div>
                <button type="submit">Сохранить изменения</button>
            </div>
        </form><br>
        <div>
            <form th:action="@{/employees/update/{id}/password(id=${employee.id})}" method="post">
                <button type="submit">Сбросить пароль</button>
            </form><br>
        </div>
        <div>
            <form th:action="@{/employees/setactive/{id}(id=${employee.id})}" method="post">
                <button type="submit">Деактивировать/активировать</button>
            </form><br>
        </div>
    </div>
</body>

</html>