<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create employee</title>
</head>

<body>
    <header>
        <nav>
            <a th:href="@{/}">home</a> <br>
            <a th:href="@{/employees}">employee list</a> <br>
            <a th:href="@{/employees/create}">create employee</a> <br>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Logout</button>
            </form>
        </nav>
    </header>
    <div>
        <h1>Создать пользователя</h1>
        <form th:action="@{/employees/update}" th:object="${employee}" method="post">

            <input type="hidden" th:field="*{id}" th:text="${employee.id}">

            <label>Логин</label>
            <input type="text" th:field="*{login}" th:text="${employee.login}"><br>

            <input type="hidden" th:field="*{password}">

            <label>Имя</label>
            <input type="text" th:field="*{name}" th:text="${employee.name}"><br>

            <label>Фамилия</label>
            <input type="text" th:field="*{surname}" th:text="${employee.surname}"><br>

            <label>Уровень доступа:</label>
            <p th:text="${employee.role}"></p>

            <button type="submit">Сохранить</button>
        </form>
    </div>
</body>

</html>