<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>

<body>
    <header>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">войти</a> <br>
        </div>
        <nav sec:authorize="isAuthenticated()">
            <a th:href="@{/}">На главную</a> <br>
            <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                <a th:href="@{/equipments}">Список оборудования</a> <br>
                <a th:href="@{/employees}">Список сотрудников</a> <br>
            </div>
            <a th:href="@{/personal/profile}">Личный кабинет</a> <br>
        </nav>
    </header>
    <div>
        <h2>Что-то пошло не так</h2>
        <p th:text="${error}"></p>
    </div>
</body>

</html>