<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>employee List</title>
</head>

<body>
    <div th:replace="~{fragments/layout :: header}"></div>

    <div>
        <div>
            <h1>Список пользователей</h1>
            <div>
                <form th:action="@{/employees/create}" method="get">
                    <button type="submit">Добавсить сотрудника</button>
                </form>
                <br>
            </div>
            <div>
                <table border="1">
                    <tr>
                        <th>login</th>
                        <th>Имя</th>
                        <th>Фамилия</th>
                        <th>Уровень доступа</th>
                        <th>Дата создания</th>
                        <th>Состояние</th>
                    </tr>
                    <tr th:each="employee : ${employees}">
                        <td th:text="${employee.username}"></td>
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.surname}"></td>
                        <td th:text="${employee.role.role}"></td>
                        <td th:text="${employee.createdAt}"></td>
                        <td th:text="${employee.active}"></td>
                        <td>
                            <form th:action="@{/employees/{id}(id=${employee.id})}" method="get">
                                <button type="submit">Открыть профиль</button>
                            </form>
                        </td>
                        <td>
                            <form th:action="@{/employees/delete/{id}(id=${employee.id})}" method="post">
                                <button type="submit">удалить</button>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>

</html>