<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create employee</title>
</head>

<body>
    <header>
        <div sec:authorize="!isAuthenticated()">
            <a th:href="@{/login}">войти</a> <br>
        </div>
        <nav sec:authorize="isAuthenticated()">
            <a th:href="@{/}">На главную</a> <br>
            <div sec:authorize="hasAnyRole('ADMIN', 'MANAGER')">
                <a th:href="@{/equipments}">Список оборудования</a> <br>
                <a th:href="@{/employees}">Список сотрудников</a> <br>
            </div>
            <a th:href="@{/personal/profile}">Личный кабинет</a> <br>
        </nav>
    </header>
    <div>
        <h1>Редактировать пользователя</h1>
        <form th:action="@{/employees/update}" th:object="${employee}" method="post">

            <input type="hidden" th:field="*{id}">

            <p th:text="'Имя пользователя: ' + ${employee.username}"></p><br>
            <input type="hidden" th:field="*{username}">
            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span><br>

            <input type="hidden" th:field="*{password}">

            <label>Имя</label>
            <input type="text" th:field="*{name}"><br>
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>

            <label>Фамилия</label>
            <input type="text" th:field="*{surname}"><br>
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span><br>

            <label>Уровень доступа:</label><br>
            <input type="radio" th:field="*{role}" th:value="USER">Младший сотрудник<br>
            <input type="radio" th:field="*{role}" th:value="MANAGER">Старший сотрудник<br>
            <input type="radio" th:field="*{role}" th:value="ADMIN">Системный администратор<br>
            <span th:if="${#fields.hasErrors('role')}" th:errors="*{role}"></span><br>
            <button type="submit">Сохранить</button>


        </form>
        <div>
            <a th:href="@{/employees/update/{id}/password(id=${employee.id})}">Сбросить пароль</a>
        </div>
        <div>
            <form th:action="@{/employees/setactive/{id}(id=${employee.id})}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button type="submit">Деактивировать/активировать</button>
            </form>
        </div>
    </div>
</body>

</html>