<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактирование Пароля</title>
</head>

<body>
    <div>
        <form th:action="@{/personal/profile}" method="get">
            <button type="submit">Вернуться</button>
        </form><br>
    </div>
    <div>
        <form th:action="@{/personal/update/password}" th:object="${password}" method="post">
            <div>
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            </div>
            <div>
                <label>Введите старый пароль</label><br>
                <input type="password" th:field="*{oldPass}"><br>
                <span th:if="${#fields.hasErrors('oldPass')}" th:errors="*{oldPass}" class="error-message"></span><br>
            </div>
            <div>
                <label>Введите новый пароль</label><br>
                <input type="password" th:field="*{newPass}"><br>
                <span th:if="${#fields.hasErrors('newPass')}" th:errors="*{newPass}" class="error-message"></span><br>
            </div>
            <div>
                <button type="submit">Сохранить</button>
            </div>
        </form>
    </div>
    <div th:replace="~{fragments/layout :: footer}"></div> 
</body>

</html>